# WinDev
*.wds
*.wdp
*.wdl
*.wdt

# Fichiers binaires
*.exe
*.dll
*.so
*.pdb
*.lib
*.obj

# Répertoires de build
build/
bin/
obj/

# Fichiers temporaires de l'IDE
.idea/
.vscode/

# Système d'exploitation
Thumbs.db
.DS_Store
